.Elems{
  display: flex;
  flex-direction: column;
  align-items: inherit;
  max-width: 400px;
}
.Box{
  align-self: center;
  background-color: gray;
  border: none;
  border-radius: 3px;
  padding: 4px 40px;
}
.Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.Button{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  background-color: rgb(255, 255, 255); /* Green */
  color: black;
}
#transitioning{
  transition-duration: 0.4s;
  background-color: rgb(255, 255, 255); /* Green */
  color: black;
}
#clicked{
  background-color: rgb(56, 149, 59); /* Green */
  color: white;
}

.Button:hover {
  transition-duration: 0.4s;
  background-color: rgb(56, 149, 59); /* Green */
  color: white;
}
#transitioning:hover{
  transition-duration: 0.4s;
  background-color: rgb(56, 149, 59); /* Green */
  color: white;
}